<p id="notice"><%= notice %></p>
<%= stylesheet_link_tag "ziekecss.css" %>

<script>
    $(document).ready(function () {
        checkIfUpdates()
        console.log("Dit werkt gewoon, je weet!");
    })
</script>

<h1>Index van bellers</h1>

<table>
  <thead>
	<link rel="stylesheet" href="ziekecss.css">
  <tr>
    <th>Beller</th>
    <th>Gebeld op</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @images.order('created_at DESC').each do |image| %>
    <tr class="image-class">
      <td><%= link_to image_tag(image.image, border: 0, size: "100x100"), {action: 'show', controller: 'images', id: image}, class: "image-link", target: :_blank %></td>
      <td><%= image.created_at.strftime("%H:%M:%S") %><br><%= image.created_at.strftime("%d %B") %></td>
      <% if image.finished.nil? %>
        <td><%= link_to 'Accept', accept_path(image), class: 'btn btn-accept' %></td>
        <td><%= link_to 'Reject', reject_path(image), class: 'btn-reject' %></td>
      <% end %>
      <td><%= link_to 'Delete', image, method: :delete, data: {confirm: 'Are you sure?'}, class: "btn-delete" %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>